[submodule "freedesktop"]
	path = freedesktop
	url = https://github.com/copycat-killer/awesome-freedesktop
[submodule "lain"]
	path = lain
	url = https://github.com/copycat-killer/lain.git
[submodule "powerline"]
	path = powerline
	url = https://github.com/powerline/powerline.git
